<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://www.buro247.my/thumb/670x830_0/images/CA_Nevertheless-Netflix-Kdrama-episode1-review.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://www.buro247.my/thumb/670x830_0/images/CA_Nevertheless-Netflix-Kdrama-episode1-review.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://1739752386.rsc.cdn77.org/data/images/full/244220/nevertheless.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>